.lighter {
  margin: 0 auto;
  width: 150px;
  border: 1px solid black;

  &__light {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 25px;
    outline: none;
  }
}

.red.active {
  background: red;
}

.yellow.active {
  background: yellow;
}

.green.active {
  background: green;
}
